In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [6]:
data = pd.read_excel('source/visualisationData/count.xlsx')
data

           Ekonomija DL   1
0         Ekonomija RED  31
1        Ekonomija REDS  38
2        Ekonomija Fail  29
3         Menadzment DL  20
4        Menadzment RED  30
5       Menadzment REDS  90
6       Menadzment Fail  89
7                VPS DL  25
8               VPS RED  30
9              VPS REDS  38
10             VPS Fail  28
11   Menadzment eng RED  10
12  Menadzment eng REDS  48
13  Menadzment eng Fail  17
14              IT REDS   4
15              IT Fail  16
16         Grifith REDS   5
17         Grifith Fail   5

#### Ekonomija

In [ ]:
plt.bar(data[])