In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
import os
sns.set()
os.getcwd()

'e:\\PythonDevelopment\\logisticRegression\\regression'

In [2]:
rawDataPass = pd.read_excel('E:\\PythonDevelopment\\logisticRegression\\source\\convertedData\\rawDataCleaned\\XLSX/Passed.xlsx')

rawDataPass['Admitted'] = 1
rawDataPass

     Points  Admitted
0     83.12         1
1     79.36         1
2     74.80         1
3     73.36         1
4     13.96         1
..      ...       ...
370   33.28         1
371   89.92         1
372   73.84         1
373   73.76         1
374   54.40         1

[375 rows x 2 columns]

In [3]:
rawDataFail = pd.read_excel('E:\\PythonDevelopment\\logisticRegression\\source\\convertedData\\rawDataCleaned\\XLSX/Failed.xlsx')

rawDataFail['Admitted'] = 0
rawDataFail

     Points  Admitted
0     47.20         0
1     95.60         0
2     94.64         0
3     91.04         0
4     86.04         0
..      ...       ...
175   72.00         0
176   67.80         0
177   65.84         0
178   59.88         0
179   43.28         0

[180 rows x 2 columns]

In [4]:
data = pd.concat([rawDataPass, rawDataFail])
data

     Points  Admitted
0     83.12         1
1     79.36         1
2     74.80         1
3     73.36         1
4     13.96         1
..      ...       ...
175   72.00         0
176   67.80         0
177   65.84         0
178   59.88         0
179   43.28         0

[555 rows x 2 columns]

#### Building the regression

In [5]:
y = data['Admitted'] # dependent variable
x1 = data['Points'] # independent variable

In [6]:
x = sm.add_constant(x1)
regLog = sm.Logit(y,x)
resultsLog = regLog.fit()

Optimization terminated successfully.
         Current function value: 0.555184
         Iterations 6

In [7]:
resultsLog.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Admitted   No. Observations:                  555
Model:                          Logit   Df Residuals:                      553
Method:                           MLE   Df Model:                            1
Date:                Sun, 19 Jul 2020   Pseudo R-squ.:                  0.1189
Time:                        00:30:49   Log-Likelihood:                -308.13
converged:                       True   LL-Null:                       -349.70
Covariance Type:            nonrobust   LLR p-value:                 7.640e-20
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -3.0742      0.457     -6.728      0.000      -3.970      -2.179
Points         0.0558      0.007      8.372      0.000       0.043       0.069
==============================================================================
"""

#### Predicting

In [8]:
resultsLog.predict()

array([0.82640484, 0.7942458 , 0.7495956 , 0.73422509, 0.09146907,
       0.94160372, 0.91992489, 0.85109856, 0.83640627, 0.74027341,
       0.88694873, 0.87232424, 0.86855162, 0.86855162, 0.8561148 ,
       0.85109856, 0.85081569, 0.85081569, 0.84996443, 0.8468089 ,
       0.84593891, 0.84447997, 0.84271438, 0.84271438, 0.84241853,
       0.83943516, 0.8333316 , 0.82640484, 0.82608464, 0.82155293,
       0.81659551, 0.81458286, 0.81221326, 0.81119061, 0.80947671,
       0.80947671, 0.80844268, 0.80705731, 0.80566433, 0.8039124 ,
       0.80214855, 0.7975067 , 0.79642403, 0.79497379, 0.7942458 ,
       0.79351589, 0.78983766, 0.775424  , 0.75746519, 0.7508494 ,
       0.7495956 , 0.74917673, 0.74113012, 0.73160561, 0.73160561,
       0.72051681, 0.71418605, 0.71281832, 0.71007117, 0.70961181,
       0.70592145, 0.7031358 , 0.67495615, 0.66955085, 0.66658341,
       0.65910718, 0.65003036, 0.64748927, 0.64391771, 0.64289429,
       0.63621062, 0.63207111, 0.61320903, 0.60417851, 0.59076987,
       0.54593619, 0.54538327, 0.51093714, 0.4061266 , 0.94160372,
       0.91256982, 0.91167598, 0.91167598, 0.91095498, 0.90708197,
       0.90518503, 0.9018806 , 0.89724672, 0.89642131, 0.89199111,
       0.88960467, 0.88672491, 0.88650069, 0.88559997, 0.88262952,
       0.88076849, 0.87816795, 0.87429826, 0.87380722, 0.87331454,
       0.87282021, 0.87132734, 0.86752973, 0.86701627, 0.86416205,
       0.8628477 , 0.8628477 , 0.86152266, 0.85829873, 0.85390294,
       0.85390294, 0.85334559, 0.85053238, 0.84967979, 0.84506489,
       0.8435992 , 0.84212223, 0.84123062, 0.83973554, 0.83518191,
       0.83425882, 0.8333316 , 0.831777  , 0.82894961, 0.82831621,
       0.82608464, 0.82512127, 0.82285706, 0.82253173, 0.81958266,
       0.81925264, 0.81759547, 0.8169293 , 0.81659551, 0.81659551,
       0.81491948, 0.80740437, 0.80670978, 0.80566433, 0.80356058,
       0.80250227, 0.80072888, 0.79822608, 0.79822608, 0.7975067 ,
       0.79714629, 0.7967854 , 0.79461003, 0.79205034, 0.78872485,
       0.78760774, 0.7853606 , 0.78309622, 0.78233761, 0.78119609,
       0.78005027, 0.78005027, 0.77735997, 0.77735997, 0.77347609,
       0.77190919, 0.77190919, 0.76954455, 0.76756094, 0.76756094,
       0.76516494, 0.76315523, 0.76315523, 0.76153895, 0.76032177,
       0.75950796, 0.7558225 , 0.75417229, 0.75375857, 0.75251459,
       0.7508494 , 0.7508494 , 0.75043193, 0.7487574 , 0.74496251,
       0.7441141 , 0.74326384, 0.74283802, 0.74155779, 0.74070199,
       0.73726045, 0.73682819, 0.73682819, 0.73028976, 0.72941027,
       0.72808766, 0.72808766, 0.72587432, 0.72320357, 0.7182657 ,
       0.71645689, 0.71464109, 0.71373057, 0.71190433, 0.93169738,
       0.91022867, 0.90708197, 0.89928481, 0.88559997, 0.88400872,
       0.87745029, 0.87721026, 0.87672899, 0.86778583, 0.86675891,
       0.86546577, 0.86311142, 0.86311142, 0.86231897, 0.86205396,
       0.8607225 , 0.8607225 , 0.85775536, 0.8561148 , 0.85583985,
       0.85194451, 0.84622935, 0.84593891, 0.84271438, 0.83913432,
       0.83822908, 0.83518191, 0.8333316 , 0.831777  , 0.83052501,
       0.81659551, 0.81323164, 0.81221326, 0.81050647, 0.80496499,
       0.79965912, 0.79606219, 0.78835296, 0.78460772, 0.78043269,
       0.77697373, 0.76954455, 0.76476394, 0.76436247, 0.76032177,
       0.73855447, 0.73682819, 0.73291739, 0.70033497, 0.67299588,
       0.6655913 , 0.6601087 , 0.65860589, 0.65458285, 0.64340617,
       0.61901152, 0.59668758, 0.79369855, 0.57994385, 0.56246528,
       0.53374806, 0.48975248, 0.4858518 , 0.46471891, 0.45972943,
       0.4464662 , 0.42181609, 0.39861832, 0.68706751, 0.38006181,
       0.36391192, 0.70499459, 0.32516002, 0.32467081, 0.20620556,
       0.61162086, 0.77308508, 0.6351776 , 0.82544286, 0.82544286,
       0.77425669, 0.77072901, 0.76275187, 0.76032177, 0.75417229,
       0.74496251, 0.74453854, 0.73812358, 0.73812358, 0.73769224,
       0.73726045, 0.73726045, 0.73466008, 0.73028976, 0.72896985,
       0.72764589, 0.72096571, 0.71916747, 0.7182657 , 0.7182657 ,
       0.71418605, 0.71418605, 0.71236154, 0.70869178, 0.70499459,
       0.70499459, 0.70453053, 0.70033497, 0.69468827, 0.69421502,
       0.69041436, 0.68514621, 0.68273565, 0.68080011, 0.67982999,
       0.67544526, 0.67201347, 0.67152169, 0.67152169, 0.6641004 ,
       0.64493981, 0.64135673, 0.63051372, 0.61479479, 0.61056076,
       0.60896865, 0.59776057, 0.59453885, 0.58753079, 0.5869902 ,
       0.58320025, 0.57668049, 0.57068043, 0.56081798, 0.55751939,
       0.539294  , 0.53596752, 0.53596752, 0.53097187, 0.51817934,
       0.50759285, 0.50424789, 0.47027104, 0.45585424, 0.44261122,
       0.39594811, 0.55311342, 0.5520106 , 0.53430305, 0.53263783,
       0.49030983, 0.47638683, 0.47527429, 0.47360594, 0.47138239,
       0.45198439, 0.4453641 , 0.43656751, 0.42344876, 0.39328409,
       0.60630999, 0.36649717, 0.3659795 , 0.35979188, 0.35722726,
       0.3435222 , 0.32467081, 0.32125712, 0.31017582, 0.2822931 ,
       0.22818404, 0.87429826, 0.73941485, 0.73855447, 0.48975248,
       0.39115743, 0.90518503, 0.90049036, 0.8810025 , 0.84853678,
       0.4061266 , 0.85528863, 0.78385293, 0.74917673, 0.73422509,
       0.72720367, 0.6998667 , 0.68514621, 0.68128458, 0.67982999,
       0.67544526, 0.6636027 , 0.65860589, 0.63414334, 0.56356272,
       0.51706558, 0.4942119 , 0.4453641 , 0.41043707, 0.38691655,
       0.33900984, 0.31834621, 0.27157574, 0.26457431, 0.25598672,
       0.86880604, 0.85123983, 0.84824992, 0.82383024, 0.81726262,
       0.8139082 , 0.79020763, 0.77308508, 0.76194373, 0.73422509,
       0.72896985, 0.72720367, 0.70592145, 0.70499459, 0.6998667 ,
       0.69610553, 0.68802577, 0.68706751, 0.68514621, 0.68128458,
       0.68128458, 0.67544526, 0.6641004 , 0.6636027 , 0.66210744,
       0.64289429, 0.6423821 , 0.6351776 , 0.61162086, 0.59829671,
       0.58807117, 0.5652077 , 0.56465953, 0.56356272, 0.56026858,
       0.55586818, 0.54150974, 0.53097187, 0.51706558, 0.51260894,
       0.4942119 , 0.4858518 , 0.47304995, 0.45917552, 0.45308949,
       0.45032763, 0.44812033, 0.4453641 , 0.42726478, 0.41692845,
       0.41043707, 0.40935813, 0.39328409, 0.37221166, 0.36805202,
       0.36494509, 0.36288001, 0.35979188, 0.35979188, 0.3556924 ,
       0.34755708, 0.34705151, 0.31448699, 0.30731986, 0.29233947,
       0.28683362, 0.28365067, 0.27245905, 0.24758403, 0.24140468,
       0.23855721, 0.21623679, 0.09856187, 0.89724672, 0.88029926,
       0.8488232 , 0.84003546, 0.82253173, 0.76636507, 0.63310784,
       0.56246528, 0.53319299, 0.46582868, 0.46139174, 0.42562826,
       0.41476134, 0.40290317, 0.36494509, 0.35110567, 0.31448699,
       0.89199111, 0.88672491, 0.87331454, 0.8435992 , 0.83518191,
       0.82285706, 0.79205034, 0.77190919, 0.76032177, 0.7487574 ,
       0.73726045, 0.73422509, 0.35314088, 0.34201489, 0.32223053,
       0.10015851, 0.77033467, 0.62947395, 0.62530293, 0.60790595,
       0.60630999, 0.5470417 , 0.52597001, 0.51762248, 0.51595164,
       0.44922373, 0.44261122, 0.41964186, 0.41151687, 0.40290317,
       0.38480248, 0.38111335, 0.36184936, 0.33452655, 0.22661668,
       0.21099186, 0.64493981, 0.60896865, 0.58753079, 0.539294  ,
       0.53097187, 0.47027104, 0.45585424, 0.42562826, 0.89908262,
       0.88627609, 0.87380722, 0.87057532, 0.82989624, 0.80947671,
       0.76275187, 0.76194373, 0.75499833, 0.75292972, 0.73509461,
       0.71916747, 0.66955085, 0.64493981, 0.56575571, 0.34051076])

In [9]:
np.array(data['Admitted'])

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0], dtype=int64)

In [10]:
cmdf = pd.DataFrame(resultsLog.pred_table())
cmdf.columns = ['Predicted 0', 'Predicted 1']
cmdf = cmdf.rename(index={0:'Actual 0', 1:'Actual 1'})
cmdf
# confusion matrix

          Predicted 0  Predicted 1
Actual 0         71.0        109.0
Actual 1         39.0        336.0

In [11]:
# 71 observations the model predicted 0 and it was 0
# 109 observations the model predicted 0 and it was 1
# 336 observations the model predicted 1 and it was 1
# 39 observations the model predicted 1 and it was 0

#### Testing

In [16]:
test = pd.read_excel('E:\\PythonDevelopment\\logisticRegression\\source\\testing/testing.xlsx')
test

    Points  Admitted
0    83.33         1
1    83.88         1
2    79.48         1
3    78.80         1
4    72.80         1
5    73.20         1
6    69.12         1
7    66.76         1
8    59.15         1
9    56.12         1
10   30.88         0
11   39.68         0
12   44.68         0
13   50.08         0
14   50.52         0
15   44.68         1
16   45.96         0

In [19]:
testActual = test['Admitted']
testData = test.drop(['Admitted'], axis=1)
testData = sm.add_constant(testData)
testData

    const  Points
0     1.0   83.33
1     1.0   83.88
2     1.0   79.48
3     1.0   78.80
4     1.0   72.80
5     1.0   73.20
6     1.0   69.12
7     1.0   66.76
8     1.0   59.15
9     1.0   56.12
10    1.0   30.88
11    1.0   39.68
12    1.0   44.68
13    1.0   50.08
14    1.0   50.52
15    1.0   44.68
16    1.0   45.96

In [21]:
def ConfusionMatrix(data, actualValues, model):
    predValues = model.predict(data)
    bins = np.array([0, 0.5, 1])
    cm = np.histogram2d(actualValues, predValues, bins = bins)[0]
    accuracy = (cm[0,0] + cm[1,1]) / cm.sum()
    return cm, accuracy

In [22]:
cm = ConfusionMatrix(testData, testActual, resultsLog)
cm

(array([[ 6.,  0.],
        [ 1., 10.]]),
 0.9411764705882353)